In [11]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json"
first_json = pd.read_json(url)
first_json.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

In [6]:
first_json.to_json('json_columns.json', orient='columns')
first_json.to_json('json_index.json', orient='index')

### nested json

In [7]:
df = pd.read_json('nested.json')

ValueError: Unexpected character found when decoding 'null'

In [12]:
import json
from IPython.display import JSON
# load json object
with open('data/nested.json') as f:
    nested_json = json.load(f)
print(nested_json)
print(type(nested_json))
JSON(nested_json)

{'article': [{'id': '01', 'language': 'JSON', 'edition': 'first', 'author': 'Jane Doe'}, {'id': '02', 'language': 'Python', 'edition': 'second', 'author': 'Mike'}], 'blog': [{'name': 'LHL', 'URL': 'LighthouseLabs.com'}]}
<class 'dict'>

In [13]:

pd.json_normalize(nested_json)

,article,blog
0,"[{'id': '01', 'language': 'JSON', 'edition': '...","[{'name': 'LHL', 'URL': 'LighthouseLabs.com'}]"

In [16]:
blog = pd.json_normalize(nested_json, record_path='blog')
blog.head()

  name                 URL
0  LHL  LighthouseLabs.com

In [5]:
article = json_normalize(nested_json, record_path='article')
article.head()

/home/kyle/anaconda3/envs/Python3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

   id language edition    author
0  01     JSON   first  Jane Doe
1  02   Python  second      Mike

more json_normalize:

In [6]:
# define json string
data = [{"state": "Florida", 
        "shortname": "FL",
        "info": {"governor": "Rick Scott"},
        "counties": [{"name": "Dade", "population": 12345},
                     {"name": "Broward", "population": 40000},
                     {"name": "Palm Beach", "population": 60000}]},
       {"state": "Ohio",
        "shortname": "OH",
        "info": {"governor": "John Kasich"},
        "counties": [{"name": "Summit", "population": 1234},
                     {"name": "Cuyahoga", "population": 1337}]}]

In [7]:
json_normalize(data)
json_normalize(data=data, record_path='counties', meta=['state', 'shortname',['info','governor']])

/home/kyle/anaconda3/envs/Python3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.
/home/kyle/anaconda3/envs/Python3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich