## Hypothesis Testing Assignment

Kyle Kulas

In [2]:
#Importing necessary packages
import pandas as pd
import numpy as np
# package with hypothesis tests
import scipy.stats as st

### Data

You can download the data from [**here**](https://drive.google.com/file/d/0Bz9_0VdXvv9bUUNlUTVrMF9VcVU/view?usp=sharing&resourcekey=0-16O9Fc5eaJH99-M7AHqHOg). The data contains results of all NBA games from seasons 2013/2014 to 2015/2016.

In [3]:
all_seasons = pd.read_csv('data/nba_games_2013_2015.csv', sep=';')

In [4]:
all_seasons.dtypes

SEASON_ID              int64
TEAM_ID                int64
TEAM_ABBREVIATION     object
TEAM_NAME             object
GAME_ID                int64
GAME_DATE             object
MATCHUP               object
WL                    object
MIN                    int64
PTS                    int64
FGM                    int64
FGA                    int64
FG_PCT               float64
FG3M                   int64
FG3A                   int64
FG3_PCT              float64
FTM                    int64
FTA                    int64
FT_PCT               float64
OREB                   int64
DREB                   int64
REB                    int64
AST                    int64
STL                    int64
BLK                    int64
TOV                    int64
PF                     int64
PLUS_MINUS           float64
dtype: object

In [5]:
all_seasons.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22015,1610612750,MIN,Minnesota Timberwolves,21501226,2016-04-13,MIN vs. NOP,W,240,144,...,0.826,5,38,43,41,14,8,13,20,35.0
1,22015,1610612749,MIL,Milwaukee Bucks,21501225,2016-04-13,MIL vs. IND,L,240,92,...,0.846,7,36,43,23,8,3,15,15,-5.0
2,22015,1610612738,BOS,Boston Celtics,21501217,2016-04-13,BOS vs. MIA,W,240,98,...,0.864,10,29,39,20,7,3,7,20,10.0
3,22015,1610612747,LAL,Los Angeles Lakers,21501228,2016-04-13,LAL vs. UTA,W,239,101,...,0.867,8,39,47,19,6,3,13,17,5.0
4,22015,1610612739,CLE,Cleveland Cavaliers,21501220,2016-04-13,CLE vs. DET,L,265,110,...,0.733,8,35,43,21,4,7,10,23,-2.0

--------------
### Task 1
Split the data into **3** separate dataframes for each NBA season!

In [6]:
# get unique seasons
all_seasons['SEASON_ID'].unique()

array([22015, 22014, 22013])

In [7]:
nba_22015 = all_seasons[all_seasons['SEASON_ID'] == 22015]
nba_22015.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22015,1610612750,MIN,Minnesota Timberwolves,21501226,2016-04-13,MIN vs. NOP,W,240,144,...,0.826,5,38,43,41,14,8,13,20,35.0
1,22015,1610612749,MIL,Milwaukee Bucks,21501225,2016-04-13,MIL vs. IND,L,240,92,...,0.846,7,36,43,23,8,3,15,15,-5.0
2,22015,1610612738,BOS,Boston Celtics,21501217,2016-04-13,BOS vs. MIA,W,240,98,...,0.864,10,29,39,20,7,3,7,20,10.0
3,22015,1610612747,LAL,Los Angeles Lakers,21501228,2016-04-13,LAL vs. UTA,W,239,101,...,0.867,8,39,47,19,6,3,13,17,5.0
4,22015,1610612739,CLE,Cleveland Cavaliers,21501220,2016-04-13,CLE vs. DET,L,265,110,...,0.733,8,35,43,21,4,7,10,23,-2.0

In [8]:
nba_22014 = all_seasons[all_seasons['SEASON_ID'] == 22014]
nba_22014.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
2460,22014,1610612760,OKC,Oklahoma City Thunder,21401222,2015-04-15,OKC @ MIN,W,241,138,...,0.710,18,28,46,22,10,6,13,25,25.0
2461,22014,1610612765,DET,Detroit Pistons,21401226,2015-04-15,DET @ NYK,W,240,112,...,0.741,11,33,44,20,14,3,12,22,22.0
2462,22014,1610612766,CHA,Charlotte Hornets,21401228,2015-04-15,CHA @ TOR,L,240,87,...,0.938,8,28,36,15,8,3,12,10,-5.0
2463,22014,1610612737,ATL,Atlanta Hawks,21401217,2015-04-15,ATL @ CHI,L,240,85,...,0.714,10,32,42,15,10,10,15,19,-6.0
2464,22014,1610612759,SAS,San Antonio Spurs,21401223,2015-04-15,SAS @ NOP,L,238,103,...,0.769,4,32,36,33,2,3,15,20,-5.0

In [9]:
nba_22013 = all_seasons[all_seasons['SEASON_ID'] == 22013]
nba_22013.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
4920,22013,1610612742,DAL,Dallas Mavericks,21301216,2014-04-16,DAL @ MEM,L,265,105,...,0.818,15,24,39,22,11,4,13,23,-1.0
4921,22013,1610612743,DEN,Denver Nuggets,21301230,2014-04-16,DEN vs. GSW,L,241,112,...,0.829,9,33,42,23,4,4,19,28,-4.0
4922,22013,1610612762,UTA,Utah Jazz,21301218,2014-04-16,UTA @ MIN,W,291,136,...,0.828,22,38,60,30,10,9,18,34,6.0
4923,22013,1610612751,BKN,Brooklyn Nets,21301224,2014-04-16,BKN @ CLE,L,240,85,...,0.739,6,30,36,21,9,1,15,16,-29.0
4924,22013,1610612753,ORL,Orlando Magic,21301227,2014-04-16,ORL vs. IND,L,240,86,...,0.708,9,31,40,14,9,5,10,16,-15.0

---------------
### Task 2
Test the hypothesis that the offensive productions stats of the Cleveland Cavaliers and Golden State Warriors (the teams that met in the finals that year) were from the same distribution in the 2015/2016 season.

Offensive production refers to two variables: **PTS (Points)** and **FG_PCT (Field Goal Percentage)**. We will need to do two separate hypothesis tests, one for each variable.

In [10]:
cavaliers_points = nba_22015[nba_22015['TEAM_NAME'] == 'Cleveland Cavaliers']['PTS']
warriors_points = nba_22015[nba_22015['TEAM_NAME'] == 'Golden State Warriors']['PTS']

cavaliers_fgp = nba_22015[nba_22015['TEAM_NAME'] == 'Cleveland Cavaliers']['FG_PCT']
warriors_fgp = nba_22015[nba_22015['TEAM_NAME'] == 'Golden State Warriors']['FG_PCT']

In [11]:
independent_sample_ttest_points = st.ttest_ind(cavaliers_points, warriors_points)

independent_sample_ttest_fgp = st.ttest_ind(cavaliers_fgp, warriors_fgp)

In [12]:
independent_sample_ttest_points

Ttest_indResult(statistic=-5.973920595717936, pvalue=1.4233420547764935e-08)

In [13]:
independent_sample_ttest_fgp

Ttest_indResult(statistic=-3.13195297595825, pvalue=0.00206097581047554)

-----------------
### Task 3
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers changed significantly after the head coach changed in the 2015/2016 season.

- **Coach Blatt was fired on 24th of Jan, 2016**. 

Use the data from seasons 2014/2015 and 2015/2016 - those are years when Cleveland was coached by Blatt. 

**We have two possible solutions to try here:**
- Take the same amount of games from before and after and try t-test.
- Take all the games from before and after and look for the right test to compare two samples with different sizes. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

In [14]:
nba_22015['GAME_DATE'] = pd.to_datetime(nba_22015['GAME_DATE'])
nba_22015.head()

<ipython-input-14-3a0ee84d38bf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba_22015['GAME_DATE'] = pd.to_datetime(nba_22015['GAME_DATE'])

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22015,1610612750,MIN,Minnesota Timberwolves,21501226,2016-04-13,MIN vs. NOP,W,240,144,...,0.826,5,38,43,41,14,8,13,20,35.0
1,22015,1610612749,MIL,Milwaukee Bucks,21501225,2016-04-13,MIL vs. IND,L,240,92,...,0.846,7,36,43,23,8,3,15,15,-5.0
2,22015,1610612738,BOS,Boston Celtics,21501217,2016-04-13,BOS vs. MIA,W,240,98,...,0.864,10,29,39,20,7,3,7,20,10.0
3,22015,1610612747,LAL,Los Angeles Lakers,21501228,2016-04-13,LAL vs. UTA,W,239,101,...,0.867,8,39,47,19,6,3,13,17,5.0
4,22015,1610612739,CLE,Cleveland Cavaliers,21501220,2016-04-13,CLE vs. DET,L,265,110,...,0.733,8,35,43,21,4,7,10,23,-2.0

In [15]:
# get all the cleveland cavaliers games after blatt was fired on 2016-01-04
after_blatt = nba_22015[nba_22015['GAME_DATE'] > pd.Timestamp('2016-01-24')][nba_22015['TEAM_NAME'] == 'Cleveland Cavaliers']
after_blatt.sort_values('GAME_DATE')

<ipython-input-15-3af93a2dc399>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after_blatt = nba_22015[nba_22015['GAME_DATE'] > pd.Timestamp('2016-01-24')][nba_22015['TEAM_NAME'] == 'Cleveland Cavaliers']

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
1129,22015,1610612739,CLE,Cleveland Cavaliers,21500667,2016-01-25,CLE vs. MIN,W,239,114,...,0.650,12,31,43,30,7,3,15,18,7.0
1083,22015,1610612739,CLE,Cleveland Cavaliers,21500684,2016-01-27,CLE vs. PHX,W,239,115,...,0.875,10,27,37,34,12,3,13,17,22.0
1055,22015,1610612739,CLE,Cleveland Cavaliers,21500699,2016-01-29,CLE @ DET,W,240,114,...,0.931,10,37,47,20,4,1,7,25,8.0
1038,22015,1610612739,CLE,Cleveland Cavaliers,21500713,2016-01-30,CLE vs. SAS,W,240,117,...,0.857,10,33,43,24,4,4,9,21,14.0
1017,22015,1610612739,CLE,Cleveland Cavaliers,21500721,2016-02-01,CLE @ IND,W,265,111,...,0.696,10,35,45,22,8,3,16,19,5.0
983,22015,1610612739,CLE,Cleveland Cavaliers,21500735,2016-02-03,CLE @ CHA,L,239,97,...,0.786,3,25,28,16,9,5,7,19,-9.0
958,22015,1610612739,CLE,Cleveland Cavaliers,21500755,2016-02-05,CLE vs. BOS,L,240,103,...,0.600,15,32,47,21,8,6,14,25,-1.0
941,22015,1610612739,CLE,Cleveland Cavaliers,21500763,2016-02-06,CLE vs. NOP,W,239,99,...,1.000,10,39,49,21,6,6,12,17,15.0
905,22015,1610612739,CLE,Cleveland Cavaliers,21500775,2016-02-08,CLE vs. SAC,W,241,120,...,0.737,12,41,53,27,7,5,14,25,20.0
875,22015,1610612739,CLE,Cleveland Cavaliers,21500795,2016-02-10,CLE vs. LAL,W,241,120,...,0.611,13,33,46,26,6,1,6,20,9.0
853,22015,1610612739,CLE,Cleveland Cavaliers,21500803,2016-02-18,CLE vs. CHI,W,242,106,...,0.882,11,41,52,21,8,8,10,22,11.0
808,22015,1610612739,CLE,Cleveland Cavaliers,21500824,2016-02-21,CLE @ OKC,W,240,115,...,0.852,13,36,49,25,4,1,12,21,23.0
791,22015,1610612739,CLE,Cleveland Cavaliers,21500833,2016-02-22,CLE vs. DET,L,239,88,...,0.923,5,35,40,19,8,2,17,21,-8.0
758,22015,1610612739,CLE,Cleveland Cavaliers,21500845,2016-02-24,CLE vs. CHA,W,240,114,...,0.647,12,35,47,26,11,1,9,20,11.0
738,22015,1610612739,CLE,Cleveland Cavaliers,21500864,2016-02-26,CLE @ TOR,L,239,97,...,0.714,10,29,39,21,4,0,14,26,-2.0
706,22015,1610612739,CLE,Cleveland Cavaliers,21500877,2016-02-28,CLE @ WAS,L,239,99,...,0.867,6,33,39,20,6,2,14,26,-14.0
680,22015,1610612739,CLE,Cleveland Cavaliers,21500884,2016-02-29,CLE vs. IND,W,240,100,...,0.840,9,31,40,22,4,2,11,15,4.0
628,22015,1610612739,CLE,Cleveland Cavaliers,21500917,2016-03-04,CLE vs. WAS,W,240,108,...,0.750,8,39,47,24,9,5,9,19,25.0
606,22015,1610612739,CLE,Cleveland Cavaliers,21500922,2016-03-05,CLE vs. BOS,W,240,120,...,0.765,15,32,47,27,8,4,15,21,17.0
585,22015,1610612739,CLE,Cleveland Cavaliers,21500938,2016-03-07,CLE vs. MEM,L,241,103,...,0.828,13,36,49,23,9,7,25,22,-3.0
552,22015,1610612739,CLE,Cleveland Cavaliers,21500957,2016-03-09,CLE @ SAC,W,241,120,...,0.829,15,36,51,17,5,1,13,21,9.0
540,22015,1610612739,CLE,Cleveland Cavaliers,21500962,2016-03-10,CLE @ LAL,W,240,120,...,0.700,9,29,38,22,4,6,8,20,12.0
488,22015,1610612739,CLE,Cleveland Cavaliers,21500983,2016-03-13,CLE @ LAC,W,239,114,...,0.700,9,40,49,23,3,4,8,19,24.0
483,22015,1610612739,CLE,Cleveland Cavaliers,21500994,2016-03-14,CLE @ UTA,L,240,85,...,0.625,13,26,39,18,6,3,8,16,-9.0
454,22015,1610612739,CLE,Cleveland Cavaliers,21501005,2016-03-16,CLE vs. DAL,W,241,99,...,0.846,13,35,48,21,9,4,16,19,1.0
421,22015,1610612739,CLE,Cleveland Cavaliers,21501020,2016-03-18,CLE @ ORL,W,241,109,...,0.741,9,32,41,23,7,4,19,21,6.0
388,22015,1610612739,CLE,Cleveland Cavaliers,21501033,2016-03-19,CLE @ MIA,L,240,101,...,0.846,3,23,26,19,6,3,14,22,-21.0
365,22015,1610612739,CLE,Cleveland Cavaliers,21501044,2016-03-21,CLE vs. DEN,W,240,124,...,0.765,8,35,43,38,10,4,12,19,33.0
338,22015,1610612739,CLE,Cleveland Cavaliers,21501059,2016-03-23,CLE vs. MIL,W,239,113,...,0.852,17,25,42,29,6,8,12,17,9.0
318,22015,1610612739,CLE,Cleveland Cavaliers,21501069,2016-03-24,CLE @ BKN,L,238,95,...,0.778,11,34,45,22,3,2,14,20,-9.0
296,22015,1610612739,CLE,Cleveland Cavaliers,21501086,2016-03-26,CLE @ NYK,W,239,107,...,0.760,15,38,53,21,6,5,9,23,14.0
242,22015,1610612739,CLE,Cleveland Cavaliers,21501111,2016-03-29,CLE vs. HOU,L,241,100,...,0.857,10,28,38,21,5,5,11,31,-6.0
214,22015,1610612739,CLE,Cleveland Cavaliers,21501122,2016-03-31,CLE vs. BKN,W,241,107,...,0.792,9,41,50,29,10,7,17,17,20.0
189,22015,1610612739,CLE,Cleveland Cavaliers,21501131,2016-04-01,CLE @ ATL,W,265,110,...,0.645,11,46,57,27,9,6,12,23,2.0
161,22015,1610612739,CLE,Cleveland Cavaliers,21501144,2016-04-03,CLE vs. CHA,W,239,112,...,0.462,15,31,46,34,7,1,17,19,9.0
151,22015,1610612739,CLE,Cleveland Cavaliers,21501159,2016-04-05,CLE @ MIL,W,241,109,...,0.900,2,39,41,30,4,8,16,14,29.0
127,22015,1610612739,CLE,Cleveland Cavaliers,21501165,2016-04-06,CLE @ IND,L,239,109,...,0.912,7,26,33,15,7,3,10,19,-14.0
78,22015,1610612739,CLE,Cleveland Cavaliers,21501191,2016-04-09,CLE @ CHI,L,242,102,...,0.611,12,30,42,24,5,5,15,18,-3.0
40,22015,1610612739,CLE,Cleveland Cavaliers,21501203,2016-04-11,CLE vs. ATL,W,240,109,...,0.900,9,38,47,17,9,4,15,14,15.0
4,22015,1610612739,CLE,Cleveland Cavaliers,21501220,2016-04-13,CLE vs. DET,L,265,110,...,0.733,8,35,43,21,4,7,10,23,-2.0

In [16]:
# get 45 games before firing blatt

# concat previous season
concated = pd.concat([nba_22015,nba_22014])

#convert game date column to time stamp
concated['GAME_DATE'] = pd.to_datetime(concated['GAME_DATE'])

# get 45 games before firing blatt
with_blatt = concated[concated['GAME_DATE'] < '2016-01-24'][concated['TEAM_NAME'] == 'Cleveland Cavaliers']
with_blatt = with_blatt.sort_values('GAME_DATE', ascending=False).head(40)

<ipython-input-16-6f300a9674ad>:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  with_blatt = concated[concated['GAME_DATE'] < '2016-01-24'][concated['TEAM_NAME'] == 'Cleveland Cavaliers']

In [17]:
independent_sample_ttest_blatt = st.ttest_ind(after_blatt['PTS'], with_blatt['PTS'])

In [18]:
independent_sample_ttest_blatt

Ttest_indResult(statistic=2.911228614180665, pvalue=0.00469146960112461)

----------------


### Task 4
Download [**the similar dataset**](https://drive.google.com/file/d/0Bz9_0VdXvv9bRHhuRTI1aXBQcTA/view?usp=sharing&resourcekey=0-jGIaWyk0bXyECNSzB3x38w) with scores from playoff games in 2016.

------------
### Task 5
Test the hypothesis that **number of blocks (BLK)** are from the same distribution in both the NBA playoffs and in the NBA regular season for 2015/2016 seaon for the **Toronto Raptors**. 

- We will be working with two samples with different sizes again.

In [19]:
playoffs = pd.read_csv('data/nba_playoff_games_2016.csv', sep=';')
playoffs_raptors = playoffs[playoffs['TEAM_NAME'] == 'Toronto Raptors']
playoffs_raptors
regular_season_raptors = nba_22015[nba_22015['TEAM_NAME'] == 'Toronto Raptors']
regular_season_raptors

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
9,22015,1610612761,TOR,Toronto Raptors,21501218,2016-04-13,TOR @ BKN,W,241,103,...,0.533,16,41,57,24,5,10,9,12,7.0
28,22015,1610612761,TOR,Toronto Raptors,21501214,2016-04-12,TOR vs. PHI,W,239,122,...,0.842,16,36,52,25,11,5,13,20,24.0
71,22015,1610612761,TOR,Toronto Raptors,21501202,2016-04-10,TOR @ NYK,W,240,93,...,0.632,7,31,38,19,4,6,6,19,4.0
96,22015,1610612761,TOR,Toronto Raptors,21501183,2016-04-08,TOR vs. IND,W,241,111,...,0.711,5,31,36,21,4,5,16,19,13.0
110,22015,1610612761,TOR,Toronto Raptors,21501173,2016-04-07,TOR @ ATL,L,240,87,...,0.750,8,38,46,16,10,4,11,16,-8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2323,22015,1610612761,TOR,Toronto Raptors,21500066,2015-11-04,TOR @ OKC,W,240,103,...,0.821,12,33,45,12,14,3,14,16,5.0
2346,22015,1610612761,TOR,Toronto Raptors,21500057,2015-11-03,TOR @ DAL,W,241,102,...,0.885,10,37,47,18,8,6,16,26,11.0
2370,22015,1610612761,TOR,Toronto Raptors,21500042,2015-11-01,TOR vs. MIL,W,238,106,...,0.650,18,28,46,22,12,3,13,19,19.0
2414,22015,1610612761,TOR,Toronto Raptors,21500024,2015-10-30,TOR @ BOS,W,240,113,...,0.857,9,44,53,23,11,3,21,33,10.0
2448,22015,1610612761,TOR,Toronto Raptors,21500009,2015-10-28,TOR vs. IND,W,239,106,...,0.692,9,41,50,19,8,2,20,24,7.0

In [20]:
independent_sample_ttest_raptors = st.ttest_ind(playoffs_raptors['BLK'], regular_season_raptors['BLK'])

In [21]:
independent_sample_ttest_raptors

Ttest_indResult(statistic=-2.8134231753425523, pvalue=0.005902131643198311)


-----------------
### Task 6
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers is equally distributed for all 3 seasons. 

- In this case, we need a hypothesis test that compares more than 2 distributions at the same. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

In [22]:
cavaliers_2015_pts = nba_22015[nba_22015['TEAM_NAME'] == 'Cleveland Cavaliers']['PTS']
cavaliers_2014_pts = nba_22014[nba_22014['TEAM_NAME'] == 'Cleveland Cavaliers']['PTS']
cavaliers_2013_pts = nba_22013[nba_22013['TEAM_NAME'] == 'Cleveland Cavaliers']['PTS']

In [23]:
cavaliers_points_ANOVA = st.f_oneway(cavaliers_2013_pts,cavaliers_2014_pts, cavaliers_2015_pts)
cavaliers_points_ANOVA

F_onewayResult(statistic=5.9200250318080885, pvalue=0.003087727119983984)

#### Follow Up
**Between which seasons can we see the significant difference?**

+ Unfortunatelly, this is not the output of an ANOVA test and further tests are needed to be run.
+ Note: Lebron James came back to the Cleveland Caveliers prior to season 2014/2015. We can use this fact to interpret our results correctly.

In [24]:
diff_20132014 = st.ttest_ind(cavaliers_2013_pts,cavaliers_2014_pts)
diff_20142015 = st.ttest_ind(cavaliers_2014_pts,cavaliers_2015_pts)

In [25]:
print(diff_20132014)
print(diff_20142015)

Ttest_indResult(statistic=-2.508958204796911, pvalue=0.013091680534336523)
Ttest_indResult(statistic=-0.6442093460555935, pvalue=0.5203507617734474)