## Lighthouse Labs
### W02D3 Other Data Types

Instructor: Socorro Dominguez  
November 03, 2021

## Agenda
1. Tabular data and tidy data 
* What other data types?

## What is tabular data?
- each row is a single observation
- variables are in columns

What is **tidy data**? 

- This concept stems from a paper written by renowned data scientist Hadley Wickham in 2014.

- We tidy our data so that we can create a standard across multiple analysis tools. It changes the focus from figuring out the logistics of how the data is structured, to answering the actual analysis question being asked.

Tidy data satisfies the following three criteria:

- Each row is a single observation,
- Each variable is a single column, and
- Each value is a single cell (i.e., its row, column position in the dataframe is not shared with another value)

## Tidy data

<img src="https://d33wubrfki0l68.cloudfront.net/6f1ddb544fc5c69a2478e444ab8112fb0eea23f8/91adc/images/tidy-1.png" width="800" />

What is a variable and an observation may depend on your immediate goal.

## Is the example tidy? (True / False)
*Example source: https://garrettgman.github.io/tidying/*

**Question: What variables are associated with the number of TB cases?**


| country | year  | cases_per_capita |
|---------|-------|---|
| Afghanistan | 1999|      745/19987071
|Afghanistan |2000    | 2666/20595360
|      Brazil |1999|   37737/172006362
|      Brazil |2000  | 80488/174504898
|      China |1999| 212258/1272915272
|      China |2000 |213766/1280428583

## Is the example tidy?

**Question: What variables are associated with the number of TB cases?**

This data is tidy, true or false?


| country | cases (year=1999) | cases (year=2000)| population (year=1999) | population (year=2000)|
|---------|-------|-------|-------|-------|
| Afghanistan |   745 |  2666 |  19987071 |  20595360 |
|  Brazil | 37737 | 80488 | 172006362 | 174504898 |
|  China | 212258 | 213766 | 1272915272 | 1280428583 |

## Is the example tidy?

**Question: What variables are associated with the number of TB cases?**

This data is tidy, true or false?

| country | year  | cases | population |
|---------|-------|-------|------------|
| Afghanistan | 1999  |  745  | 19987071|
| Afghanistan | 2000 |  2666 |  20595360|
|Brazil |1999 | 37737  |172006362|
| Brazil| 2000 | 80488 | 174504898|
| China | 1999 | 212258 |1272915272|
|  China |2000 | 213766 | 1280428583|

## Is the example tidy?

**Question: What variables are associated with the number of TB cases?**

This data is tidy, true or false?

| country | year  | key | value |
|---------|-------|-------|------------|
|Afghanistan |1999 |     cases   |     745
| Afghanistan |1999| population  | 19987071
|  Afghanistan |2000|      cases |      2666
|  Afghanistan| 2000| population |  20595360
|       Brazil| 1999|      cases |     37737
|       Brazil |1999| population | 172006362
|       Brazil| 2000|      cases  |    80488
|       Brazil |2000| population | 174504898
|        China |1999|      cases  |   212258
|       China |1999| population |1272915272
|       China |2000|      cases |    213766
|       China |2000| population| 1280428583

**Dataset 3** is much easier to work with than the others. 

To work with the other datasets you need to take extra steps, making your code harder to write, and concepts harder to understand.  

The energy you need to manage a poor layout will increase with the size of your data. 

Avoid these difficulties by converting your data into a tidy format at the start of your analysis.

## What other types of data is useful to data scientists?


| Data Type | Example | What are we trying to use it for? |
|:-|:---------------------|:--------------------------------------------|
| Text         | Tweets, scripts, books | Sentiment analysis, other NLP |
| JSON or XML  | Parsing APIs | Gather data, data ingestion process, trend analysis, forecasting |
| HTML         |Web scraping| Get prices of different products, Facebook / LinkedIn contacts and work history|
| Images       |Computer vision|Self-driving cars, building custom shoes, X-rays - diagnostics|

- Text: will be covered in more detail when we're doing Natural Language Processing (NLP)
- JSON: we will talk about nested JSON file today.
- XML and HTML: We saw the basics and we'll talk more about it today.
- Images: will be covered in more detail when we're doing Convolutional Neural Networks (CNNs)

## Different data, different tools

1. Tabular data: `pandas`, `SQL`, `spark`
* XML and HTML: `xml`
* JSON: `json`
* HTML other alternatives: `BeautifulSoup` for HTML (will not cover, very popular).
* CNNs- Keras, PyTorch, TensorFlow.
* LSTMs - Keras, PyTorch, TensorFlow.
* Text - nltk, SpaCy, BERT

We will demo these.

## Tabular data using pandas

In [24]:
import pandas as pd
import openpyxl

In [25]:
wine_csv = pd.read_excel('data/wine.xlsx')
wine_csv

   Bottle         Grape     Origin  Alcohol    pH Colour   Aroma
0       1    Chardonnay  Australia    14.23  3.51  White  Floral
1       2  Pinot Grigio      Italy    13.20  3.30  White  Fruity
2       3   Pinot Blanc     France    13.16  3.16  White  Citrus
3       4        Shiraz      Chile    14.91  3.39    Red   Berry
4       5        Malbec  Argentina    13.83  3.28    Red  Fruity

In [26]:
wine_xlsx = pd.read_excel('data/wine.xlsx', engine = 'openpyxl')
wine_xlsx

   Bottle         Grape     Origin  Alcohol    pH Colour   Aroma
0       1    Chardonnay  Australia    14.23  3.51  White  Floral
1       2  Pinot Grigio      Italy    13.20  3.30  White  Fruity
2       3   Pinot Blanc     France    13.16  3.16  White  Citrus
3       4        Shiraz      Chile    14.91  3.39    Red   Berry
4       5        Malbec  Argentina    13.83  3.28    Red  Fruity

## Python and Excel
- They are complementary! It's not a competition.
- Uses for both
- For example:

In [27]:
wine_2 = pd.read_excel('data/wine_2.xlsx', engine = 'openpyxl')
wine_2

  This workbook contains data for different wines
0                           Created by John Smith

- What's wrong? What happens when we open the file?

## Tab 1
![tab1](img/Tab1.png)

## Tab 2
![tab2](img/Tab2.png)

## Python and Excel ... continued
- After opening the file, we know that the useful data is on Sheet 2

In [28]:

wine_2 = pd.read_excel('data/wine_2.xlsx', sheet_name='DATA', engine = 'openpyxl') # here, I reference the sheet name
wine_2

   Bottle         Grape     Origin  Alcohol    pH Colour   Aroma
0       1    Chardonnay  Australia    14.23  3.51  White  Floral
1       2  Pinot Grigio      Italy    13.20  3.30  White  Fruity
2       3   Pinot Blanc     France    13.16  3.16  White  Citrus
3       4        Shiraz      Chile    14.91  3.39    Red   Berry
4       5        Malbec  Argentina    13.83  3.28    Red  Fruity

## Data Science intro to XML and HTML
- hierarchical collection of elements
- element consists of start tag, content and end tag, and attributes
- tags have names and are delimited with `<` and `>`; end tag with `</`
- attributes added after the tag name within `<` and `>`

For example: `<country name="Canada">` content content `</country>`
- `country` is the tag
- `name="Canada"` is an attribute

**HTML is just XML for webpages.**

## Let's see a HTML example

Let's take a look at an example: https://en.wikipedia.org/wiki/List_of_FIFA_World_Cup_winners
- Use inspect page to see HTML, F12 for Windows Users
- Explain header, body, tags etc.

Reminder of what an XML file looks like

### XML   
• hierarchical description of tagged data  

```
<library>
<book>
<title name='For Whom the Bell Tolls'>
<author>
Ernest Hemingway
</author>
</book>
<book>
<title>
Trump: The Art of the Deal
</title>
<author>
Good Question
</author>
</book>
</library>
```

## XML
- Let's take a look at an XML file: https://drive.google.com/file/d/1Nfq42ss8jIqajaAOVdwzW4D3D5oL7Y2t/view
- We use the `xml` package to work with XML

In [29]:
import xml.etree.ElementTree as et

In [30]:
# parses the XML so that it figures out the "tree" of tags
tree = et.parse('data/data.xml')
tree

In [31]:
# get to the root tag of the file
root = tree.getroot()
root

In [32]:
root.tag

'data'

From the root, we can begin to navigate the tree

In [33]:
# get root tag
print("What is the root tag:", root.tag)

# get root attributes
print("Attributes of the root tag:", root.attrib)

# get number of "children"
print("Number of children:", len(root))

What is the root tag: data
Attributes of the root tag: {}
Number of children: 3

In [34]:
# printing out the children of root
for idx in range(len(root)):
    print("tag:", root[idx].tag, "| attribute:", root[idx].attrib)

tag: country | attribute: {'name': 'Liechtenstein'}
tag: country | attribute: {'name': 'Singapore'}
tag: country | attribute: {'name': 'Panama'}

In [35]:
x = root[1].attrib
x['name']

'Singapore'

In [36]:
country3 = root[2]
neighbour = country3[3]
neighbour
gdppc = country3[2]
gdppc
country3.attrib
print(gdppc.tag, ":", gdppc.text)
neighbour.attrib

gdppc : 13600

{'name': 'Costa Rica', 'direction': 'W'}

In [37]:
import xmltodict, json

obj = xmltodict.parse("""
<employees>
    <employee>
        <name>Dave</name>
        <role>Sale Assistant</role>
        <age>34</age>
    </employee>
</employees>
""")
print(json.dumps(obj))

{"employees": {"employee": {"name": "Dave", "role": "Sale Assistant", "age": "34"}}}

## JSON

Here's some sample JSON: https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json

[JSON Plug-in](https://chrome.google.com/webstore/detail/json-formatter/bcjindcccaagfpapjjmafapmmgkkhgoa?hl=en)

In [38]:
# You can read from the URL too!!
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'
json_data = pd.read_json(url)
json_data

    integer            datetime  category
0         5 2015-01-01 00:00:00         0
1         5 2015-01-01 00:00:01         0
2         9 2015-01-01 00:00:02         0
3         6 2015-01-01 00:00:03         0
4         6 2015-01-01 00:00:04         0
..      ...                 ...       ...
95        9 2015-01-01 00:01:35         0
96        8 2015-01-01 00:01:36         0
97        6 2015-01-01 00:01:37         0
98        8 2015-01-01 00:01:38         0
99        1 2015-01-01 00:01:39         0

[100 rows x 3 columns]

## JSON ... continued
- `pd.read_json` doesn't work so well with nested JSON...
- Let's take a look at what a nested JSON is: https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json

In [39]:
# an error happens when you run this cell
import pandas as pd 
nested_json = pd.read_json('data/nested.json')
nested_json

ValueError: arrays must all be same length

Instead, you can try this:

In [40]:
import json

with open('data/nested.json') as file:
    nested_json = json.load(file)

nested_json

{'article': [{'id': '01',
   'language': 'JSON',
   'edition': 'first',
   'author': 'Jane Doe'},
  {'id': '02', 'language': 'Python', 'edition': 'second', 'author': 'Mike'}],
 'blog': [{'name': 'LHL', 'URL': 'LighthouseLabs.com'}]}

- What is the type?

In [41]:
type(nested_json)

dict

## Nested JSON

In [42]:
from pandas import json_normalize

In [43]:
nested_json

{'article': [{'id': '01',
   'language': 'JSON',
   'edition': 'first',
   'author': 'Jane Doe'},
  {'id': '02', 'language': 'Python', 'edition': 'second', 'author': 'Mike'}],
 'blog': [{'name': 'LHL', 'URL': 'LighthouseLabs.com'}]}

In [44]:
json_normalize(nested_json)

,article,blog
0,"[{'id': '01', 'language': 'JSON', 'edition': '...","[{'name': 'LHL', 'URL': 'LighthouseLabs.com'}]"

In [45]:
blog = json_normalize(nested_json, record_path='blog')
blog.head()

  name                 URL
0  LHL  LighthouseLabs.com

In [46]:
article = json_normalize(nested_json,record_path ='article')
article.head()

   id language edition    author
0  01     JSON   first  Jane Doe
1  02   Python  second      Mike

In [52]:
nested_json2 = nested_json['article']

In [53]:
nested_json2

[{'id': '01', 'language': 'JSON', 'edition': 'first', 'author': 'Jane Doe'},
 {'id': '02', 'language': 'Python', 'edition': 'second', 'author': 'Mike'}]

In [54]:
json_normalize(nested_json2)

   id language edition    author
0  01     JSON   first  Jane Doe
1  02   Python  second      Mike

In [60]:
nested_json2

[{'id': '01', 'language': 'JSON', 'edition': 'first', 'author': 'Jane Doe'},
 {'id': '02', 'language': 'Python', 'edition': 'second', 'author': 'Mike'}]

In [55]:
data = [{"state": "Florida", 
        "shortname": "FL",
        "info": {"governor": "Rick Scott", "governor_2": "John Doe"},
        "counties": [{"name": "Dade", "population": 12345},
                     {"name": "Broward", "population": 40000},
                     {"name": "Palm Beach", "population": 60000}]},
       {"state": "Ohio",
        "shortname": "OH",
        "info": {"governor": "John Kasich"},
        "counties": [{"name": "Summit", "population": 1234},
                     {"name": "Cuyahoga", "population": 1337}]}]

In [71]:
json_normalize(data)
json_normalize(data=data, record_path='counties', meta=['state', 'shortname', ['info', 'governor_2']], errors='ignore')

         name  population    state shortname info.governor_2
0        Dade       12345  Florida        FL        John Doe
1     Broward       40000  Florida        FL        John Doe
2  Palm Beach       60000  Florida        FL        John Doe
3      Summit        1234     Ohio        OH             NaN
4    Cuyahoga        1337     Ohio        OH             NaN

In [68]:
json_normalize(data=data, meta=['state', 'shortname'])

,state,shortname,counties,info.governor,info.governor_2
0,Florida,FL,"[{'name': 'Dade', 'population': 12345}, {'name...",Rick Scott,John Doe
1,Ohio,OH,"[{'name': 'Summit', 'population': 1234}, {'nam...",John Kasich,NaN

In [29]:
json_normalize(data=data, record_path=['counties'], meta=['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

In [30]:
json_normalize(data=data, record_path='counties', meta=['state', 'shortname'])

         name  population    state shortname
0        Dade       12345  Florida        FL
1     Broward       40000  Florida        FL
2  Palm Beach       60000  Florida        FL
3      Summit        1234     Ohio        OH
4    Cuyahoga        1337     Ohio        OH

[Extra References](https://towardsdatascience.com/all-pandas-json-normalize-you-should-know-for-flattening-json-13eae1dfb7dd)

## Functions that help you Tidy your Data
- Review on your own after class


* pd.pivot() - Return reshaped DataFrame organized by given index / column values. 
* pd.pivot_table()
* pd.melt()  - Unpivot a DataFrame from wide to long format, optionally leaving identifiers set.
* pd.stack() - Stack the prescribed level(s) from columns to index.
* pd.unstack() - Returns a DataFrame having a new level of column labels whose inner-most level consists of the pivoted index labels.

In [74]:
import pandas as pd
import numpy as np

tuples = list(zip(*[['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
                   ['one', 'two','one', 'two','one', 'two','one', 'two']]))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [75]:
index = pd.MultiIndex.from_tuples(tuples, names = ['first', 'second'])
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [76]:
import numpy as np
stacked = pd.DataFrame(np.random.randn(8,2), index = index, columns=['A', 'B'])
stacked

                     A         B
first second
bar   one    -0.770496  0.735267
      two     0.800064  2.141125
baz   one    -1.330076 -0.792008
      two     0.480447 -0.351610
foo   one     1.931271  0.532999
      two     0.392756  0.527504
qux   one     0.204045  1.310071
      two    -0.619146 -0.765056

In [77]:
stacked.unstack()

               A                   B
second       one       two       one       two
first
bar    -0.770496  0.800064  0.735267  2.141125
baz    -1.330076  0.480447 -0.792008 -0.351610
foo     1.931271  0.392756  0.532999  0.527504
qux     0.204045 -0.619146  1.310071 -0.765056

In [78]:
# Level(s) of index to unstack, can pass level name.
stacked.unstack('first')

               A                                       B                      \
first        bar       baz       foo       qux       bar       baz       foo
second
one    -0.770496 -1.330076  1.931271  0.204045  0.735267 -0.792008  0.532999
two     0.800064  0.480447  0.392756 -0.619146  2.141125 -0.351610  0.527504


first        qux
second
one     1.310071
two    -0.765056

In [79]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

In [80]:
df

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [83]:
pd.pivot_table(df, values='D', index=['A', 'B'],
                    columns=['C'], aggfunc=np.sum)

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0