# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [1]:
num_1 = 1

#### 2. asign any number of type float to the variable "num_2"

In [2]:
num_2 = 3.14159

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [3]:
total = num_1 + num_2

#### 4. check the type of variable "total"

In [4]:
type(total)

float

#### 5. assign variable "height" with your height

In [5]:
height = 168

#### 6. asign variable "mass" with your weight

In [6]:
mass = 65

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [7]:
bmi = mass/(height*height)

#### 8. print value from "bmi" variable

In [8]:
print(bmi)

0.002303004535147392

# String

#### 1. Create variable "name" with your first name

In [9]:
name = 'Kyle'

#### 2. Create variable "surname" with your surname

In [10]:
surname = 'Kulas'

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [11]:
name_surname = name + ' ' + surname

#### 4. print variable "name_surname"

In [12]:
print(name_surname)

Kyle Kulas

#### 5. print first letter from variable "name_surname"

In [13]:
print(name_surname[0])

K

#### 6. print your name (without enmpty space) from variable "name_surname"

In [14]:
print(name_surname.replace(' ', ''))

KyleKulas

#### 7. print your surname 10x (use variable surname)

In [18]:
print(surname * 10)

KulasKulasKulasKulasKulasKulasKulasKulasKulasKulas

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [21]:
message = 'Hello my name is ' + name_surname

#### 9. print "message" variable

In [22]:
print(message)

Hello my name is Kyle Kulas

## List

#### 1. create empty list with name "empty_list"

In [23]:
empty_list = []

#### 2. create list "heights" with five random values

In [24]:
heights = [140, 150, 160, 170, 180]

#### 3. print heights

In [25]:
print(heights)

[140, 150, 160, 170, 180]

#### 4. print type of variable "heights"

In [26]:
print(type(heights))

<class 'list'>

#### 5. print second value from "heights"

In [27]:
print(heights[1])

150

#### 6. assign last three values from "heights" to another list "heights_2"

In [28]:
heights_2 = heights[-3:]

#### 7. print "heights_2"

In [29]:
print(heights_2)

[160, 170, 180]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [30]:
list_all = heights + heights_2

#### 9. print "list_all"

In [31]:
print(list_all)

[140, 150, 160, 170, 180, 160, 170, 180]

#### 10. print the type of "list_all"

In [33]:
print(type(list_all))

<class 'list'>

## Tuple

#### 1. create empty tuple with name empty_tuple

In [34]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [35]:
empty_tuple[0] = 'Kyle'

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

Lists are mutable and tuples are immutable.

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [36]:
empty_dict = {}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [37]:
heights_dict = {'Kyle': 168}

#### 3. asign another name and height to "heights_dict"

In [39]:
heights_dict['Tiffany'] = 164

#### 4. print "heights_dict" dictionary

In [40]:
print(heights_dict)

{'Kyle': 168, 'Tiffany': 164}

#### 5. print your height from the "heights_dict" dictionary

In [41]:
print(heights_dict['Kyle'])

168

#### 6. print all values from "heights_dict" dictionary

In [44]:
print(list(heights_dict.values()))

[168, 164]

#### 7. print all keys from "heights_dict" dictionary

In [48]:
print(list(heights_dict.keys()))

['Kyle', 'Tiffany']