In [2]:
import pandas as pd
import numpy as np

In [3]:
 df = pd.DataFrame({
        'one': pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
        'two': pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd']),
        'three': pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})

In [4]:
df

        one       two     three
a -0.672573  0.462583       NaN
b -1.091947 -0.290610 -0.296452
c -0.778350  0.571773  0.970432
d       NaN -0.533197 -0.845831

In [28]:
df[]

two     -0.290610
three   -0.296452
Name: b, dtype: float64